/*Inicio*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', Helvetica, sans-serif;
    background: black;
    color: white;
    overflow-x: hidden;
}

/*Apartado principal*/

.hero {
    
}