/*Inicio*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', Helvetica, sans-serif;
    background: black;
    color: white;
    overflow-x: hidden;
}

/*Apartado principal*/

.hero {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, red 0%, black 100%);
    overflow: hidden;
}

/*Imagen del coche mover de fondo*/
.hero-car {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 45%; /*ajusta según lo grande que la quieras*/
    max-width: 700px;
    opacity: 0.9; /* da sensación de integración con el fondo*/
    z-index: 1;
    pointer-events: none; /* evita que bloquee clics*/
}